**3.	Perform dataset handling operations using available libraries.**

In [1]:
# Import required libraries
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
mriirs = '/content/drive/MyDrive/Data Science_Lab/BMW Sales Data (2010-2024)_E3.csv'
sayem = pd.read_csv(mriirs)

In [4]:
# View first 5 rows to check what data looks like
print("First 5 rows of the dataset:")
display(sayem.head())

First 5 rows of the dataset:

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low

In [5]:
# Check the basic shape (rows Ã— columns)
print("\n Dataset Shape (rows, columns):", sayem.shape)

 Dataset Shape (rows, columns): (50000, 11)

In [6]:
# Get information about columns, datatypes, and missing values
print("\n Dataset Information:")
sayem.info()

 Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 50000 non-null  object
 1   Year                  50000 non-null  int64
 2   Region                50000 non-null  object
 3   Color                 50000 non-null  object
 4   Fuel_Type             50000 non-null  object
 5   Transmission          50000 non-null  object
 6   Engine_Size_L         50000 non-null  float64
 7   Mileage_KM            50000 non-null  int64
 8   Price_USD             50000 non-null  int64
 9   Sales_Volume          50000 non-null  int64
 10  Sales_Classification  50000 non-null  object
dtypes: float64(1), int64(4), object(6)
memory usage: 4.2+ MB

In [7]:
# Show summary statistics for numerical columns
print("\n Statistical Summary:")
display(sayem.describe())

 Statistical Summary:

               Year  Engine_Size_L     Mileage_KM      Price_USD  Sales_Volume
count  50000.000000   50000.000000   50000.000000   50000.000000  50000.000000
mean    2017.015700       3.247180  100307.203140   75034.600900   5067.514680
std        4.324459       1.009078   57941.509344   25998.248882   2856.767125
min     2010.000000       1.500000       3.000000   30000.000000    100.000000
25%     2013.000000       2.400000   50178.000000   52434.750000   2588.000000
50%     2017.000000       3.200000  100388.500000   75011.500000   5087.000000
75%     2021.000000       4.100000  150630.250000   97628.250000   7537.250000
max     2024.000000       5.000000  199996.000000  119998.000000   9999.000000

In [8]:
# Show the column names
print("\n Column Names:")
print(sayem.columns.tolist())

 Column Names:
['Model', 'Year', 'Region', 'Color', 'Fuel_Type', 'Transmission', 'Engine_Size_L', 'Mileage_KM', 'Price_USD', 'Sales_Volume', 'Sales_Classification']

In [9]:
# Rename columns (if names are long or unclear)
# Example: rename 'Sales Volume' to 'Sales_Volume'
sayem.rename(columns={'Sales Volume': 'Sales_Volume'}, inplace=True)
print("\n Columns after renaming:")
print(sayem.columns.tolist())

 Columns after renaming:
['Model', 'Year', 'Region', 'Color', 'Fuel_Type', 'Transmission', 'Engine_Size_L', 'Mileage_KM', 'Price_USD', 'Sales_Volume', 'Sales_Classification']

In [10]:
# Check for missing values in each column
print("\n Missing values per column:")
print(sayem.isnull().sum())

 Missing values per column:
Model                   0
Year                    0
Region                  0
Color                   0
Fuel_Type               0
Transmission            0
Engine_Size_L           0
Mileage_KM              0
Price_USD               0
Sales_Volume            0
Sales_Classification    0
dtype: int64

In [12]:
#Fill missing values with mean (for numbers) or mode (for text)
for col in sayem.columns:
    if sayem[col].dtype == 'object':                   # if column is text
        sayem[col].fillna(sayem[col].mode()[0], inplace=True)
    else:                                              # if column is numeric
        sayem[col].fillna(sayem[col].mean(), inplace=True)

print("\n Missing values after filling:")
print(sayem.isnull().sum())

 Missing values after filling:
Model                   0
Year                    0
Region                  0
Color                   0
Fuel_Type               0
Transmission            0
Engine_Size_L           0
Mileage_KM              0
Price_USD               0
Sales_Volume            0
Sales_Classification    0
dtype: int64

/tmp/ipython-input-1067962198.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sayem[col].fillna(sayem[col].mode()[0], inplace=True)
/tmp/ipython-input-1067962198.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sayem[col].fillna(sayem[col].mean(), inplace=True)

In [13]:
# Sorting the dataset
# Sort by 'Year' in ascending order
sayem_sorted = sayem.sort_values(by='Year', ascending=True)
print("\n Dataset sorted by Year:")
display(sayem_sorted.head())

 Dataset sorted by Year:

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
39848,7 Series,2010,Asia,Black,Diesel,Automatic,2.0,82885,76202,7859,High
37,i8,2010,Middle East,Grey,Petrol,Automatic,4.0,98514,37949,2278,Low
49979,3 Series,2010,Europe,Grey,Petrol,Manual,2.0,6546,71897,6116,Low
49978,i3,2010,Europe,Silver,Electric,Manual,3.9,38587,34345,2869,Low
30,i8,2010,South America,Black,Hybrid,Automatic,4.7,16020,102215,5006,Low

In [14]:
# Filtering data (select only rows where Price > 50000)
print("\n Cars with Price > 50000:")
display(sayem[sayem['Price_USD'] > 50000].head())

 Cars with Price > 50000:

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low
6,i8,2022,Europe,White,Diesel,Manual,1.8,196741,55064,7949,High

In [15]:
# Selecting specific columns (Model, Year, Price)
print("\n Selecting few important columns:")
display(sayem[['Model', 'Year', 'Price_USD']].head())

 Selecting few important columns:

      Model  Year  Price_USD
0  5 Series  2016      98740
1        i8  2013      79219
2  5 Series  2022     113265
3        X3  2024      60971
4  7 Series  2020      49898

In [16]:
# Grouping data: Find average price per year
print("\n Average Price per Year:")
avg_price = sayem.groupby('Year')['Price_USD'].mean()
display(avg_price)

 Average Price per Year:

Year
2010    75072.215916
2011    75293.276388
2012    75019.567227
2013    74535.908298
2014    74556.535224
2015    74049.552710
2016    75543.540862
2017    75173.147416
2018    75455.480781
2019    75194.426002
2020    75057.667083
2021    75399.277580
2022    74967.875503
2023    75194.004660
2024    75025.852933
Name: Price_USD, dtype: float64

In [17]:
# Find the most popular BMW model (highest sales volume)
if 'Sales_Volume' in sayem.columns:
    print("\n Most Sold BMW Model:")
    top_model = sayem.groupby('Model')['Sales_Volume'].sum().sort_values(ascending=False)
    display(top_model.head(5))

 Most Sold BMW Model:

Model
7 Series    23786466
i8          23423891
X1          23406060
3 Series    23281303
i3          23133849
Name: Sales_Volume, dtype: int64

In [18]:
# Check all column names to confirm spelling
print("Available columns in dataset:")
print(sayem.columns.tolist())

Available columns in dataset:
['Model', 'Year', 'Region', 'Color', 'Fuel_Type', 'Transmission', 'Engine_Size_L', 'Mileage_KM', 'Price_USD', 'Sales_Volume', 'Sales_Classification']

In [19]:
# Create a new derived column (example)
# Price_per_KM = Price_USD / Mileage_KM
if {'Price_USD', 'Mileage_KM'}.issubset(sayem.columns):
    # Create a new column named 'Price_per_KM'
    sayem['Price_per_KM'] = sayem['Price_USD'] / sayem['Mileage_KM']

    print("\n New column added: Price_per_KM = Price_USD / Mileage_KM")
    # Display the first 5 rows of the new column
    display(sayem[['Model', 'Mileage_KM', 'Price_USD', 'Price_per_KM']].head())
else:
    print(" Columns 'Price_USD' or 'Mileage_KM' not found in the dataset.")

 New column added: Price_per_KM = Price_USD / Mileage_KM

      Model  Mileage_KM  Price_USD  Price_per_KM
0  5 Series      151748      98740      0.650684
1        i8      121671      79219      0.651092
2  5 Series       10991     113265     10.305250
3        X3       27255      60971      2.237057
4  7 Series      122131      49898      0.408561

In [20]:
# Save cleaned and updated dataset to Drive
output_path = '/content/drive/MyDrive/Data Science_Lab/bmw_sales_cleaned.csv'
sayem.to_csv(output_path, index=False)
print(f"\n Updated dataset saved to: {output_path}")

 Updated dataset saved to: /content/drive/MyDrive/Data Science_Lab/bmw_sales_cleaned.csv